h1 {
  padding-top: 2cm;
  font-weight: bold;
  text-align: center;
  font-family: fantasy;
  color: red;
}

h2 {
  text-align: center;
  font-family: fantasy;

}
h3 {
  text-align: center;

}
h4 {
  text-align: center;
}

h5 {
  text-align: center;
  font-size: 30px;
}

h6 {
  text-align: center;
  font-size: 20px;
}

#jumbo-index {
  height: 400px;
  margin-top: 1cm;
  background-position: center;
  background-repeat: repeat-y;
  background-size: 1280px 800px;
}

#paneldeal1 {
  height: 200px;
  background-position: center;
  background-repeat: repeat-y;
  background-size: 375px 250px;

}

#paneldeal2 {
  height: 200px;
  background-position: center;
  background-repeat: repeat-y;
  background-size: 500px 250px;

}

#paneldesert {
  height: 200px;
  background-position: center;
  background-repeat: repeat-y;
  background-size: 375px 250px;

}

#sizeSmall {
  height: 200px;
  background-position: center;
  background-repeat: repeat-y;
  background-size: 275px 200px;

}
#sizeMedium {
  height: 200px;
  background-position: center;
  background-repeat: repeat-y;
  background-size: 325px 225px;

}
#sizeLarge {
  height: 200px;
  background-position: center;
  background-repeat: repeat-y;
  background-size: 375px 250px;

}

.form-reload {
  text-align: center;
}

.largesubmitbutton {
  text-align: center;
}

.form {
  text-align: center;
}
